* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    padding: 60px;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.header {
    display: flex;
    width: 1300px;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    display: flex;
}


.header-links div {
    margin-right: 30px;
} 

.page-body-container {
    display: flex;
    background-color: #f8bec4;
    justify-content: space-around;
}   

.body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1400px;
    text-align: center;
    height: 320px;
}

.button-style {
    background-color: #F294A5;
    border-style: none;
    padding-inline: 20px;
    padding-block: 8px;
    margin-top: 30px;
    color: black;   
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 2px;
    border: 2px dotted black;
}

.body-image-container {
    display: flex;
    background-color: #F294A5;
    width: 500px;
    justify-content: center;
    border-radius: 10px;
}

.image {
    height: 280px;
    width: auto;
    border-radius: 10px;
}

.random-info-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;

}

.random-header {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    width: 400px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 2px dotted #F294A5;
    margin: 60px;
}

.box-photo-container {
    display: flex;
    background-color: #f8bec4;
    color: black;
    width: 1200px;
    text-align: center;
    border-end-end-radius: 40px;
    border-top-left-radius: 40px;
    margin-bottom: 60px;
}

.box-photo img {
    height: 280px;
    width: auto;
    padding: 20px;
    border-radius: 40px;
}

.box-photo p {
    margin-bottom: 20px;
}

.client-comment-container {
    font-size: 30px;
    text-align: center;
    padding:100px
}

.client-comment {
    font-style: italic;
    word-spacing: 5px;
}

.comment-author {
    text-align: right;
    margin-right: 120px;
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
}